body{
	background: #292a2e;
}   
.tab-bar {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: table;
  table-layout: fixed;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: #212226;
  border-top: 1px solid rgba(0,0,0,0);
  width: 100%;
}
.tab-bar__item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  display: table-cell;
  width: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.tab-bar__item > input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
}
.tab-bar__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  padding: 0;
  height: 49px;
  line-height: 49px;
  letter-spacing: 0;
  color: #87888f;
  text-shadow: 0 1px none;
  vertical-align: top;
  background-color: #212226;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  width: 100%;
  font-weight: 400;
}
.tab-bar__button > .tab-bar__icon {
  font-size: 24px;
  padding: 0;
  margin: 0;
  line-height: 32px;
  display: block;
  height: 32px;
}
.tab-bar__label {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
.tab-bar__icon + .tab-bar__label {
  font-size: 10px;
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
.tab-bar__label:first-child {
  font-size: 16px;
  line-height: 49px;
  margin: 0;
  padding: 0;
}
.tab-bar__button {
  color: #87888f;
}
.tab-bar__button:active,
:checked + .tab-bar__button {
  color: #4073eb;
  background-color: #212226;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
}
.tab-bar__button:active > .tab-bar__icon,
:checked + .tab-bar__button > .tab-bar__icon {
  color: #4073eb;
}
.tab-bar__button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.tab-bar__button:focus {
  z-index: 1;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.navigation-bar__center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: 1;
  vertical-align: top;
}
.navigation-bar__title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 44px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  width: 100%;
}
.navigation-bar {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 44px;
  padding-left: 0;
  padding-right: 0;
  background: #212226;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0);
  font-weight: 400;
  width: 100%;
  margin-bottom: 50px;
}
.resultContainer{
	border: 1px solid #fff;
}


/* Buttons*/

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #4073eb;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
}
.button:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button:active {
  background-color: #4073eb;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
}
.button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}